/* | HEADER & NAVBAR [START] */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.header .section {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.header .logo {margin: 0 auto;}
.header .list {margin-left: auto;}

.menu {cursor: pointer;}
.menu:hover {color: var(--text-secondary);}

.nav {
    background-color: #1A1A1DA0;
    padding: 50px;
    backdrop-filter: blur(10px);
    height: 100dvh;
    width: max(40%, 300px);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s, opacity 0.5s;
    display: none;
}

.nav .list {text-align: end;}

.nav .list li {
    transform: translateX(-100%);
    transition: transform 1s ease;
}

.nav.show {
    transform: translateX(0);
    opacity: 1;
}

.nav .list li.show {transform: translateX(0);}
.nav .list .link:hover {color: var(--text-secondary);}
/* | HEADER & NAVBAR [END] */

/* | HERO [START] */
.hero {
    height: 100dvh;
    background-image: url('/assets/hero.png');
    background-size: cover;
}

.hero .section {
    align-items: start;
    justify-content: end;
}

.hero .h1 {font-size: min(5rem, 15vw);}
/* | HERO [END] */

/* | MODELS [START] */
.featured .body.grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.featured .model:hover .img {transform: scale(1.1);}

.featured .model .image-content {
    border-radius: 16px;
    overflow: hidden;
}

.featured .model .img {border-radius: 16px;}
.featured .model .text-content {padding: 20px;}
/* | MODELS [END] */

/* | FINANCE [START] */
.finance .body {
    max-width: 900px;
    width: 100%;
}

.finance .stat {flex: 1;}

.finance .numbers .input {
    border: none;
    background-color: #348E72;
    text-align: end;
}
/* | FINANCE [END] */

/* | TRADE-IN [START] */
.tradein .wizard {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    border: 2px solid var(--border);
    border-radius: 16px;
    padding: 20px;
}

.tradein .wizard .input-group label,
.tradein .wizard .input-group .input {width: 100%;}
.tradein .wizard .input {background-color: #348E72;}

.tradein .wizard .input[type="checkbox"] {width: fit-content;}
.tradein .wizard .btn {margin: 0 auto;}

/* & RESPONSIVE VERSIONS */
@media (max-width: 1024px) {
    .finance .body {flex-direction: column;}
}

@media (max-width: 768px) {
    .tradein .wizard .input-group {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 568px) {
    .header .menu .text.title {display: none;}
    .nav {padding: 20px;}
}